USE [master]
GO
/****** Object:  Database [VP_diet]    Script Date: 7.01.2024 21:31:31 ******/
CREATE DATABASE [VP_diet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VP_diet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VP_diet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VP_diet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VP_diet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VP_diet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VP_diet]
GO
/****** Object:  Table [dbo].[Consultant]    Script Date: 7.01.2024 21:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant](
	[consultantId] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[birthDate] [date] NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[firstWeight] [float] NOT NULL,
	[targetWeight] [float] NOT NULL,
	[height] [int] NOT NULL,
	[waist] [int] NOT NULL,
	[hip] [int] NOT NULL,
	[chest] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[consultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dietitian]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dietitian](
	[dietitianId] [int] NOT NULL,
	[nameSurname] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[birthDate] [date] NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[city] [varchar](20) NOT NULL,
	[education] [varchar](20) NOT NULL,
	[specialization] [text] NULL,
	[university] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dietitianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluate]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluate](
	[Id] [int] NOT NULL,
	[consultantId] [int] NOT NULL,
	[dietitianId] [int] NOT NULL,
	[rate] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[consultant] [int] NOT NULL,
	[dietitian] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[consultant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[typeId] [smallint] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdateTbl]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[newWeight] [float] NULL,
	[newWaist] [int] NULL,
	[newHip] [int] NULL,
	[newChest] [int] NULL,
	[updateTime] [datetime] NOT NULL,
 CONSTRAINT [PK__Update__3214EC07F04186D1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7.01.2024 21:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[userType] [smallint] NOT NULL,
	[registerDate] [datetime] NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Table__3214EC07F753E0FE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Table__66DCF95C04A11C9E] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type]    Script Date: 7.01.2024 21:31:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Type] ON [dbo].[Type]
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type_1]    Script Date: 7.01.2024 21:31:32 ******/
CREATE NONCLUSTERED INDEX [IX_Type_1] ON [dbo].[Type]
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultant]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Users] FOREIGN KEY([consultantId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Consultant] CHECK CONSTRAINT [FK_Consultant_Users]
GO
ALTER TABLE [dbo].[Dietitian]  WITH CHECK ADD  CONSTRAINT [FK_Dietitian_Users] FOREIGN KEY([dietitianId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Dietitian] CHECK CONSTRAINT [FK_Dietitian_Users]
GO
ALTER TABLE [dbo].[Evaluate]  WITH CHECK ADD  CONSTRAINT [FK_Evaluate_Consultant] FOREIGN KEY([consultantId])
REFERENCES [dbo].[Consultant] ([consultantId])
GO
ALTER TABLE [dbo].[Evaluate] CHECK CONSTRAINT [FK_Evaluate_Consultant]
GO
ALTER TABLE [dbo].[Evaluate]  WITH CHECK ADD  CONSTRAINT [FK_Evaluate_Dietitian] FOREIGN KEY([dietitianId])
REFERENCES [dbo].[Dietitian] ([dietitianId])
GO
ALTER TABLE [dbo].[Evaluate] CHECK CONSTRAINT [FK_Evaluate_Dietitian]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Consultant] FOREIGN KEY([consultant])
REFERENCES [dbo].[Consultant] ([consultantId])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Consultant]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Dietitian] FOREIGN KEY([dietitian])
REFERENCES [dbo].[Dietitian] ([dietitianId])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Dietitian]
GO
ALTER TABLE [dbo].[UpdateTbl]  WITH CHECK ADD  CONSTRAINT [FK_UpdateTbl_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UpdateTbl] CHECK CONSTRAINT [FK_UpdateTbl_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Type] FOREIGN KEY([userType])
REFERENCES [dbo].[Type] ([typeId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Type]
GO
USE [master]
GO
